/* área de busca que fica no header */

.input-area {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  margin-top: 8px;
  border-radius: 4px;
  /* max-width: 300px; */
  width: 100%;
}

.busca-area {
  width: fit-content;
}

.busca-area label {
  display: block;
  font-size: 0.875rem;
  color: aliceblue;
  font-weight: 400;
  padding-top: 16px;
}

.busca-area input {
  padding: 4px;
  outline: none;
  font-size: 0.875em;
  border: none;
  /* max-width: 270px; */
  width: 100%;
  background-color: transparent;
}

.busca-area button {
  display: flex;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

button img {
  height: 24px;
}
