/* ----------------------------------------- */
/* CSS GLOBAL e RESET*/
/* ----------------------------------------- */

/* importação de fontes */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap");

/* importação de estilos auxiliares */
@import "/css//header.css";
@import "/css/cidades-lista.css";
@import "/css/footer.css";
@import "/css/busca.css";

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans serif";
  line-height: 1;
}

a {
  text-decoration: none;
  color: cadetblue;
  cursor: pointer;
}

ul {
  list-style: none;
}

/* Estilos Globais */
body {
  background-color: #f7f7f7;
}

/* mensagem de erro ao não encontrar cidade */
.error {
  display: none;
  font-size: 0.75em;
  margin-top: 4px;
  padding: 4px;
  max-width: 300px;
  background-color: #f7f7f755;
  color: rgb(253, 79, 48);
}

/* esconde no DOM */
.hide {
  opacity: 0%;
}
