/* ----------------------------------------- */
/* CSS GLOBAL e RESET*/
/* ----------------------------------------- */

/* importação de fontes */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap");

/* importação de estilos auxiliares */
@import "/css//header.css";
@import "/css/cidades-lista.css";
@import "/css/footer.css";
@import "/css/busca.css";

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans serif";
  line-height: 1;
}

a {
  text-decoration: none;
  color: cadetblue;
  cursor: pointer;
}

ul {
  list-style: none;
}
/* Estilos Globais */

body {
  background-color: #f7f7f7;
}

h1 {
  font-weight: 700;
  color: #101010;
}

h2 {
  font-weight: 400;
  color: #101010;
  padding-bottom: 8px;
}

/* Cria o card que envolve a previsão de uma cidade */
.card {
  padding: 24px;
  width: 400px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px #e0e0e0;
}

/* mensagem de erro ao não encontrar cidade */
.error {
  display: none;
  font-size: 0.75em;
  margin-top: 4px;
  color: tomato;
}
/* esconde no DOM */
.hide {
  opacity: 0%;
}
